@font-face {
    font-family: "Calibri";
    src: url("../fonts/calibri/calibri/Regular.ttf");
}

@font-face {
    font-family: "Calibri-bold";
    src: url("../fonts/calibri/calibri/Bold.TTF");
}

@font-face {
    font-family: "SignPainter";
    src: url("../fonts/signPainter/SignPainter.woff");
}

section{
    width:70%;
    margin-left: 15%;
    margin-right: 15%;
}

header{
    background-color:#972a86;
    color: #ffffff;
    text-align: center;
    padding:5px 0px;
}

.linea, .linea-fina{
    background-color: #972a86;
    margin-top: 4px;
}

.linea{
    height: 6px;
}

.linea-fina{
    height: 2px;
}

h1{
    font-family: 'SignPainter';
    margin-bottom:5px;
    font-size: 37px;
}

h2, h3, span{
    color:#972a86;
}

h2, h4{
    text-transform: uppercase;
}

h2{
    background-color: #f4e6ed;
    padding: 10px 10px 5px;
}

aside h3{
    background-color: #972a86;
    color: #ffffff;
    padding: 10px;
    margin-right: 15px;
}

h4{
    font-family: 'Times New Roman', Georgia, Times, serif;
    font-size: 14px;
    font-weight: normal;
    margin: 3px;
}

aside{
    background-color: #f4e6ed;
    width: 25%;
    padding-left: 15px;
    float:left;
}

article{
    margin:20px;
    width: 65%;
    float: right;
}

.recuadro{
    padding:7px;
    background-color: #f4e6ed;
    border: solid 2px #972a86;
}

tr{
    border-color:#972a86;
}

/** Collapse */
.collapse {
    background-color: #f4e6ed;
    cursor: pointer;
    padding: 7px;
    border: none;
    text-align: left;
    outline: none;
}
  
.active, .collapse:hover {
    background-color: #972a86;
    color: #ffffff;
}
  
.text {
    padding: 0 18px;
    display: none;
    overflow: hidden;
    background-color: #f4e6ed;
}

.icono{
    height: 30px;
    width: auto;
    vertical-align: middle;
}

.icono-b{
    height: 35px;
    width: auto;
    vertical-align: middle;
}

.foto{
    display: block;
    margin: 30px auto;
    border-radius: 50%;
    border: solid 8px  #972a86;
}